<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6">
        <h3 class="bg-primary text-white p-3">
          [{{getName()}}] To do List
        </h3>
        <div class="input-group mb-3">
          <input type="text" #todoText class="form-control">
          <div class="input-group-append">
            <button class="btn btn-primary ms-3" (click)="addItem(todoText.value); todoText.value='';">Add</button>
          </div>
        </div>
        <div class="form-check py-1 mb-3">
            <input type="checkbox" [(ngModel)]="isDisplay" id="displayAll" class="form-check-input">
            <label for="displayAll" class="form-check-label">Display All</label>
        </div>
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th colspan="3">Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of getItems(); let i = index">
                <td>{{i+1}}</td>
                <td>{{item.description}}</td>
                <td>
                    <input type="checkbox" class="form-check-input" [(ngModel)]="item.action">
                </td>
                <td [ngSwitch]="item.action">
                    <span *ngSwitchCase="true">Yes</span>
                    <span *ngSwitchCase="false">No</span>
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>